.info-card{
  padding: 5rem 10rem;
  color: white;

}

.circle{
  display: block;
  $imageSize: 18rem;
  height: $imageSize;
  width: $imageSize;
  border-radius: 50% !important;
  overflow: hidden;
  border: 1rem solid white;
  >img{
    width: 100%;
    height: 100%;
    ////position: absolute;
    //height: calc(#{$imageSize} - 2rem);
    //width: calc(#{$imageSize} - 2rem);
    //border-radius: 50% !important;
  }
}


.button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: white;
  background: #232526;
  padding: 10px 20px 10px 20px;
  border: solid #4060f5 2px;
  text-decoration: none;
}

.button:hover {
  background: #d5d5d5;
  border: solid #ffffff 2px;
  color: #030303;
  text-decoration: none;
}
