.info-card{
  padding: 5rem 10rem;

}

.circle{
  display: block;
  $imageSize: 18rem;
  height: $imageSize;
  width: $imageSize;
  border-radius: 50% !important;
  overflow: hidden;
  border: 1rem solid white;
  >img{
    width: 100%;
    height: 100%;
    ////position: absolute;
    //height: calc(#{$imageSize} - 2rem);
    //width: calc(#{$imageSize} - 2rem);
    //border-radius: 50% !important;
  }
}

.button {background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2bb8ac);
  background-image: -moz-linear-gradient(top, #3498db, #2bb8ac);
  background-image: -ms-linear-gradient(top, #3498db, #2bb8ac);
  background-image: -o-linear-gradient(top, #3498db, #2bb8ac);
  background-image: linear-gradient(to bottom, #3498db, #2bb8ac);
  -webkit-border-radius: 40;
  -moz-border-radius: 40;
  border-radius: 40px;
  font-family: Arial;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #0684c7 3px;
  text-decoration: none;
}

.button:hover {
  background: #ffffff;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
