<div class="info-card">

  <div class="grid grid-cols-3">
    <div>
      <div class="circle">
        <img src="https://pocket-image-cache.com/direct?resize=w2000&url=https%3A%2F%2Fwww.stylist.co.uk%2Fimages%2Fapp%2Fuploads%2F2020%2F08%2F18094850%2Fpower-napping-sleep-benefits-crop-1597740680-1680x1120.jpg%3Fw%3D1200%26h%3D1%26fit%3Dmax%26auto%3Dformat%252Ccompress"  alt="profile_img"/>
      </div>
    </div>
    <div class="col-span-1 pl-10">
      <h5>Designation</h5>
      <h1>Name</h1>
      <p>Fusce tempor magna mi, non egestas velit ultricies nec. Aenean convallis,
        risus non condimentum gravida,
        odio mauris ullamcorper felis, ut venenatis purus ex eu mi.
        Quisque imperdiet lacinia urna, a placerat sapien pretium eu.</p>
    </div>
  </div>
</div>

