<div class="grid grid-cols-2 dark:text-white m-6">
  <div>

    <h4 class="">About</h4>
    <p>Freshly Graduate in Master of Science Information Technology looking for an opportunity to move ahead in career.</p>
  </div>

  <div>
    <h4>Education</h4>
    <p>Freshly Graduate in Master of Science Information Technology looking for an opportunity to move ahead in career.</p>
  </div>

  <div>
    <h4>Goals</h4>
    <p>Freshly Graduate in Master of Science Information Technology looking for an opportunity to move ahead in career.</p>
  </div>

  <div>
    <h4>Address</h4>
    <p>Freshly Graduate in Master of Science Information Technology looking for an opportunity to move ahead in career.</p>
  </div>

</div>
