<div class=" dark:text-white bg-gray-50 dark:bg-gray-800 lg:m-10 lg:rounded-2xl">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229225.54505707594!2d91.56245367400672!3d26.142980530878802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5a287f9133ff%3A0x2bbd1332436bde32!2sGuwahati%2C%20Assam!5e0!3m2!1sen!2sin!4v1647781681613!5m2!1sen!2sin"
           style="width: 100%" allowfullscreen="" loading="lazy"></iframe>

  <div class="block-title pb2 mb-1" [ngClass]="{'dark-h2-after':darkMode}">
    <h2>Contact</h2>
  </div>
  <div class="grid md:grid-cols-1 grid-cols-1 mt-10">
    <div class="flex flex-row pb-5">
      <div class="flex-1 pr-7">
        <li>nilabhanjanchutia@gmail.com</li>
        <li>+917002237752</li>
      </div>
    </div>
  </div>

  <div class="block-title pb2 mb-1" [ngClass]="{'dark-h2-after':darkMode}">
    <h2>Address</h2>
  </div>
  <div class="grid md:grid-cols-1 grid-cols-1 mt-10">
    <div class="flex flex-row pb-5">
      <div class="flex-1 pr-7">
        <p class="text-justify text-sm leading-5">Guwahati,781001, Assam, India</p>
      </div>
    </div>
  </div>

</div>
