<div class=" dark:text-white bg-gray-50 dark:bg-gray-800 lg:m-10 lg:rounded-2xl">

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14329.138845218653!2d91.78743532239609!3d26.12225833429057!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375a5f2e10c13a89%3A0x10dc736f7ba952fa!2sBeltola%20Tiniali%2C%20Guwahati%2C%20Assam!5e0!3m2!1sen!2sin!4v1647784324396!5m2!1sen!2sin"
           style="width: 100%" allowfullscreen="" loading="lazy"></iframe>


  <app-title title="Address"></app-title>
  <div class="grid md:grid-cols-1 grid-cols-1 mt-10">
    <div class="flex flex-row pb-5">
      <div class="flex-1 pr-7">
        <p class="text-justify text-sm leading-5">Beltola, Guwahati, 781001, Assam, India</p>
      </div>
    </div>
  </div>

  <app-title title="Contact"></app-title>
  <div class="grid md:grid-cols-1 grid-cols-1 mt-10">
    <div class="flex flex-row pb-5">
      <div class="flex-1 pr-7">
        <li>nilabhanjanchutia@gmail.com</li>
        <li>+917002237752</li>
      </div>
    </div>
  </div>



</div>
