<div class=" container dark:text-white bg-gray-50 dark:bg-gray-800 lg:m-10 lg:rounded-2xl">

  <div class="block-title pb2 mb-1" [ngClass]="{'dark-h2-after':darkMode}">
    <h2>Youtube</h2>
  </div>
  <div class="grid md:grid-cols-1 grid-cols-1 mt-10">
    <div class="flex flex-row pb-5">
      <div class="flex-1 pr-7">
        <a href="https://www.youtube.com/channel/UCK_jG0TBLSSAlR2xo7SPqpA">
        <button class="button1 lg:px-12 lg:py-4 px-7 py-4
          border-blue-500 hover:bg-blue-500 hover:text-white mb-5 ">Channel Link</button>
        </a>
      </div>
    </div>
  </div>

  <div class="block-title pb2 mb-1" [ngClass]="{'dark-h2-after':darkMode}">
    <h2>LinkedIn</h2>
  </div>
  <div class="grid md:grid-cols-1 grid-cols-1 mt-10">
    <div class="flex flex-row pb-5">
      <div class="flex-1 pr-7">
        <a href="https://www.linkedin.com/in/nilabh-anjan-chutia">
          <button class="button1 lg:px-12 lg:py-4 px-7 py-4
          border-blue-500 hover:bg-blue-500 hover:text-white mb-5 ">LinkedIn Profile</button>
        </a>
      </div>
    </div>
  </div>

</div>
