<div class="dark:text-white">
  <div class="p-2"></div>
  <div class="block-title pb2 mb-1" [ngClass]="{'dark-h2-after':darkMode}">
    <h2>Testimonials</h2>
  </div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide *ngFor="let testimonial of testimonialArray">
      <div class="testimonial ">
        <div class="testimonial-content border-gray-300 dark:border-gray-500 bg-gray-50 dark:bg-gray-700">
          <div class="testimonial-picture">
            <img [src]="testimonial.image_url" [alt]="testimonial.name">
          </div>
          <div class="testimonial-text">
            <p>{{testimonial.text}}</p>
          </div>
          <div class="testimonial-author">
            <h5 class="testimonial-author-info">{{testimonial.name}}</h5>
            <p class="testimonial-author-firm"> {{testimonial.firm}}</p>
          </div>
          <div class="testimonial-icon text-gray-200 dark:text-gray-400">
            <fa-icon [icon]="faQuoteLeft"></fa-icon>
          </div>
          <div class="testimonial-icon-big text-gray-200 dark:text-gray-400">
            <fa-icon [icon]="faQuoteRight"></fa-icon>
          </div>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>
</div>

