.gg-youtube {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 16px;
  height: 10px;
  box-shadow: 0 0 0 2px;
  border-radius:
    15px 15px 15px 15px /
        45px 45px 45px 45px
}
.gg-youtube::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 7px;
  top: 2px;
  border-left: 4px solid currentColor;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent
}

.text-logo{
  float: left;
  >a{
    outline: none;
    color: #09c;
    text-decoration: none;
    background-color: transparent;
    transition: all .3s ease-in-out;
  }

}
.logo{
  &-symbol{
    float: left;
    width: 44px;
    height: 44px;
    line-height: 44px;
    background-color :#007ced;
    border-radius: 100px;
    text-align: center;
    color: #fff;
    font-size: 28px;
    font-weight: 800;
    margin-right: 8px;
    margin-top: 4px;
  }
  &-text{
    float: left;
    line-height: 50px;
    font-size: 20px;
    font-weight: 600;
    >span{
      font-weight: 400;
    }
  }
}

